<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <import resource="spring-mysql-dao.xml"/>

    <context:property-placeholder location="classpath:kzone-config.properties" />

    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.maxIdle}" />
        <property name="maxTotal" value="${redis.maxTotal}" />
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}" />
        <property name="testOnBorrow" value="${redis.testOnBorrow}" />
    </bean>

    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:port="${redis.port}" p:password="${redis.password}"  p:poolConfig-ref="poolConfig" p:hostName="${redis.host}"/>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory"   ref="connectionFactory" />
    </bean>

    <bean id="userDao" class="com.kzone.dao.impl.UserDaoImpl"/>
    <bean id="commentDao" class="com.kzone.dao.impl.CommentDaoImpl"/>
    <bean id="districtDao" class="com.kzone.dao.impl.DistrictDaoImpl"/>
    <bean id="informationDao" class="com.kzone.dao.impl.InformationDaoImpl"/>
    <bean id="ktvDao" class="com.kzone.dao.impl.KTVDaoImpl"/>
    <bean id="statisticsDao" class="com.kzone.dao.impl.StatisticsDaoImpl"/>
</beans>