.form-group {
    margin-left: 50px;
    margin-top: 20px;
}
.form-control {
    width: 80%;
}
.pagination {
    float: right;
}
.btn-primary {
    float: left;
}
.search {
    width: 220px !important;
    float: right;
}
.are-choice {
    margin-left: 35px;
}
